{% extends 'request/layout.html' %}
{% block content%}
        <div class="statiiText1">
            <h1>Статьи</h1>
        </div>
        <div class="statiiText2">
        <p>Полноценный раздел со статьями пока находится в разработке, но прочитать их можно уже сейчас!</p>
        </div>
         <div class="boxStatii">
        <a href="whereBuy">Как купить авто из Японии с пробегом и не ошибиться?</a>
        <a href="Transmission.html">Роботизированная коробка передач: тупик или прорыв?</a>
        <a href="Features.html">Особенности национального тюнинга по–японски</a>
        <a href="kayCars.html">Кей – кары: маленькие, да удаленькие</a>
        <a href="sailtHonda.html">В чем соль: Honda Accord CR7</a>
        <a href="variator.html">Вариатор: огромный плюс или все же минус?</a>
         </div>
{% endblock%}