{% extends 'request/layout2.html' %}
{% load static %}
{% block content%}
<body>
<style>
    body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}
</style>
<main>
    <div class="purchase">
        <h1>В ЧЕМ СОЛЬ: HONDA ACCORD CR7</h1>
    </div>
    <div class="primeText">
      <p>
        Согласно заявлению Honda, Accord CR7 — люксовый гибридный седан для состоятельных людей. Это не совсем так: благодаря экономичности и безопасности, модель нередко выбирают в качестве семейного авто, а дерзкий спортивный дизайн делает его привлекательным и для молодежи.
      </p>
      <img src="{% static 'request/img/honds accord.jpg' %}" width="640" height="445" class="KayC">
      <p>
        Концерну удалось совместить в Accord лучшие качества современных автомобилей, сделав премиальную машину действительно массовой. Действительно, зачем переплачивать за топовые Audi и Mercedes, когда можно обратиться в «Сферакар» и стать обладателем этого технологичного автомобиля. Мы уже разобрались, в чем главная соль Accord CR7.
      </p>
      <h4 class="headings">Соль №1. Динамика.</h4>
      <p>
        Когда Accord CR7 стал проходным в России, его смело можно было назвать самым быстрым японским гибридным седаном. Реальный разгон авто от 0 до 100 км/ч — 7,3 секунды. Достигнуть таких показателей удалось благодаря изменению настроек вариатора и впрыска топлива.
      </p>
      <h4 class="headings">Соль №2. Уникальная гибридная установка.</h4>
      <p>
        В CR7 используется уникальная гибридная установка SPORT HYBRID i-MMD.  Такая система подразумевает использование двух электромоторов. Один из них используется только для запуска ДВС и генерации энергии, а второй передает крутящий момент на колеса. В ходе рестайлинга была заменена обмотка электродвигателя (с круглой на квадратную). Это увеличило мощность гибрида на 11 кВт. Теперь она составляет 135 кВт чистой электроэнергии для взрывного разгона и безупречной динамики.
      </p>
      <img src="{% static 'request/img/electricMotor.jpg' %}"  width="640" height="445" class="KayC">
      <h4 class="headings">Соль №3. Управляемость.</h4>
      <p>
        Благодаря жесткому кузову и подвеске, автомобиль выделяется отличной управляемостью. Несмотря на габариты, он безупречно входит в повороты и прекрасно держит дорогу. Отдельные элементы кузова выполнены из специального сплава, который повысил жесткость на рекордные 55% по сравнению с предыдущей версией Аккорда, CR6.
      </p>
      <img src="{% static 'request/img/manageability.jpg' %}" width="640" height="445" class="KayC">
      <h4 class="headings">Соль №4. Салон.</h4>
      <p>
        Благодаря полностью кнопочному селектору трансмиссии и подрулевым лепесткам для ручного переключения передач, управлять Аккордом очень легко и приятно.  Топовые комплектации модели имеют кожаную обивку сидений и оформление дверных карт и панели из высококачественного пластика. Не многие  седаны могут похвастаться просторным задним рядом. Аккорд как раз из таких: на заднем сиденье вполне достаточно места для того, чтобы с комфортом разместиться пассажирам любого роста и комплекции.
      </p>
      <img src="{% static 'request/img/salon2.jpg' %}" width="640" height="445" class="KayC">
      <h4 class="headings">Соль №5. Внешность.</h4>
      <p>
        Агрессивный, спортивный облик Аккорда, который сложно спутать с другим премиальным седаном, влюбляет в себя с первого взгляда. У авто полностью светодиодная оптика, а CR7 получил еще и 2 новых цветовых варианта — темно-красный перламутр и синий металлик. Если ищете нетривиальный седан — он перед вами!
      </p>
      <img src="{% static 'request/img/vneshnost.jpg' %}" width="640" height="445" class="KayC">
      <h4 class="headings">Соль №6. Безопасность.</h4>
      <p>
        Даже в базовой комплектации в Accord устанавливается Honda Sensing – целая система датчиков, которые помогают контролировать дорожную обстановку. Это и радарный круиз – контроль, поддерживающий необходимую дистанцию до автомобилей впереди, и камеры кругового обзора, и системы контроля полосы, и помощники при парковке. Автомобиль распознает препятствия и пешеходов.
      </p>
      <img src="{% static 'request/img/salon3.jpg' %}"  width="640" height="445" class="KayC">
      <p>
        Honda Accord СR7 — лучший выбор для тех, кто ищет оптимальное сочетание высоких технологий, безопасности и динамики. Это действительно японский премиум, воплотивший в себе все последние разработки для комфорта и безопасности.
      </p>
    </div>
</main>
</body>
{% endblock %}